@import 'mixins';
$primaryColor: #ec7705;
$aliceblue: aliceblue;
$black: #000;
$blue: rgb(150, 144, 254);

html {
	font-size: 1em;

	@include bp-babyBear {
		font-size: .8em;
	}

	@include bp-papaBear {
		font-size: 1.4em;
	}

	line-height: 1.35;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
	color: #ec7705;
}

@import 'header';

.btn-a {
	display: inline-block;
	padding: 15px;
	margin-right: 10px;
	border: 1px solid $primaryColor;
	border-radius: 7px;
	font-size: 80%;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-b {
	@extend .btn-a;
	// background-color: lighten($primaryColor, 45%);
	@include verticalGradient($primaryColor, $black);
	margin-bottom: 15px;
}

.box {
	background-color: #DDD;
	width: (300px * 2);
	height: 150px;
	@include verticalGradient($blue, lighten($primaryColor, 30%));
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}